@charset "UTF-8";
/*==============================================================================

 Z-index SCSS.

  Design Concept
 ・FLOCCS
  => https://github.com/hiloki/flocss

==============================================================================*/
// Pattern1
$zindex: ( element3: 2000, element2: 1000, element1: -1000 );

.u-zindex3 {
  z-index: map-get($zindex, element3);
}

.u-zindex2 {
  z-index: map-get($zindex, element2);
}

.u-zindex1 {
  z-index: map-get($zindex, element1);
}

// Pattern2
$z: index1, index2, index3, index4;

.u-layer1 {
  z-index: index($z, index1);
}
.u-layer2 {
  z-index: index($z, index2);
}
.u-layer3 {
  z-index: index($z, index3);
}
.u-layer4 {
  z-index: index($z, index4);
}
