@charset "UTF-8";
@import '../variables/_variables.scss';
/*==============================================================================

 Mixins SCSS.

==============================================================================*/
// BreakPoints
@mixin smallMobile {
  @media (min-width: #{$smallMobileWidth}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: #{$mobileWidth}) {
    @content;
  }
}
@mixin largeMobile {
  @media (min-width: #{$largeMobileWidth}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tabletWidth}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}
@mixin largeDesktop {
  @media (min-width: #{$largeDesktopWidth}) {
    @content;
  }
}
@mixin customOrderMin($orderW) {
  @media screen and (min-width: $orderW) {
    @content;
  }
}
// clearfix
@mixin clearfix {
  clear: both;

  &:after,
  &:before {
    display: block;
    clear: both;
    content: " ";
  }
}
