@charset "UTF-8";
/*==============================================================================

 Variables SCSS.

==============================================================================*/
// BreakPoints.
$smallMobileWidth: '325px';
$mobileWidth: '480px';
$largeMobileWidth: '768px';
$tabletWidth: '991px';
$desktopWidth: '1170px';
$largeDesktopWidth: '1392px';
